altair
annotated-types
anyio
asgiref
attrs
bibtexparser
cement
certifi
charset-normalizer
contourpy
cycler
distro
Django
django-admin-searchable-dropdown
django-appconf
django-autocomplete-light
django-cors-headers
django-data-browser
django-filter
django-modelclone-next
django-ranged-response
django-select2
django-simple-captcha
djangorestframework
djangorestframework-datatables
dubo
feedparser
fonttools
h11
httpcore
httpx
hyperlink
idna
iommi
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
Levenshtein
MarkupSafe
matplotlib
mysqlclient
numpy
openai
packaging
pandas
Pillow
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
pyzotero
rapidfuzz
referencing
requests
rpds-py
sgmllib3k
six
sniffio
sqlglot
sqlparse
toolz
tqdm
typing_extensions
urllib3
whitenoise
